*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 40px 20px;
    height: 1200px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border: 1px solid red;
}

.text, .ratings, .reviews{
    width: 100%;
    padding: 10px 20px;
}

.text{
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.text * {
    margin-bottom: 20px;
}

.ratings{
    border: 1px solid purple;
    text-align: center;
}

.stars{
    display: flex;
    justify-content: center;
}

.ratings * {
    margin: 10px;
}

.rating{
    border: 1px solid gray;
    border-radius: 10px;
}

.reviews{
    border: 1px solid blue;
}

.review {
    margin-bottom: 20px;
    border: 1px solid gold;
}

.user{
    display: flex;
    border: 1px solid brown;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.user img{
    border-radius: 50%;
    margin-left: 10px;
    height: 60px;
}